{% extends 'account.html' %} 

{% block title %}Edytuj swoje dane - CookIT{% endblock %}
{% load static %}
{% block accountPageStylesSheet %}<link rel="stylesheet" href="{% static 'stylesSheets/editUser.css' %}">{% endblock %}

{% block accountContent %}
    <div class="userEditWrapper">
        <div class="errorMsg">{{ validationMsg }}</div>
        <div class="successMsg">{{ successMsg }}</div>
        <span class="separator"></span>
        <h2 class="sectionTitile">Edytuj dane</h2>
        <form class="editForm" name="editForm" method="post">{% csrf_token %}
            <input name="first_name" placeholder="* Imię" required class="input" value="">
            <input name="last_name" placeholder="* Nazwisko" required class="input" value="">
            <input name="email" placeholder="* E-mail" required class="input" value="">
            <p class="content">* Pola wymagane</p>
            <button type="button" class="submitInput" onclick="validateEditForm()">Zapisz</button>
        </form>
    </div>
    <script src="{% static 'scripts/accountEditValidators.js' %}"></script>
{% endblock %}