.sectionTitile {
   font-size: 21px;
   margin: 0;
   padding: 28px 0 16px;
}

.errorMsg {
   margin: 0px auto;
   font-size: 18px;
   font-weight: 400;
   color: rgb(206, 0, 0);
   width: 100%;
   text-align: center;
}

.successMsg {
   margin: 0px auto;
   font-size: 18px;
   font-weight: 400;
   color: green;
   width: 100%;
   text-align: center;
}

.clearButton, .addInput {
   display: block;
   color: rgb(77, 77, 77);
   cursor: pointer;
   text-decoration: none;
   background: none;
   border: 1px solid white;
   font-family: Montserrat;
   font-size: 14px;
   padding: 0;
   margin: 8px 0 12px;
}

.clearButton:hover, .clearButton:focus, .addInput:hover, .addInput:focus {
   outline: none;
   color: rgb(55, 55, 55);
}

.clearButton:active, .clearButton:hover, .addInput:active, .addInput:hover {
   outline: none;
   color: rgb(22, 22, 22);
}

.addInput {
   margin-top: 16px;
}

.categoryNameWrapper {
   display: flex;
   margin-bottom: 16px;
}

.recipeImageWrapper {
   margin: 0px 0px 16px 24px;
}

.recipieImage {
   max-width:50%;
   max-height:50%;
}

.require {
   font-size: 13px;
   padding: 4px 0;
   margin: 0;
}

.header {
   margin: 0;
   font-size: 16px;
}

.chooseCategory {
   font-size: 14px;
   margin-left: 16px;
   color: rgb(26, 26, 26);
   border: none;
}

.chooseCategory:focus {
   outline: none;
}

.option {
   font-size: 14px;
   color: rgb(26, 26, 26);
}

.input, .ingredientInput, .stepInput {
   min-width: 250px;
   margin-bottom: 16px;
   font-size: 16px;
   padding: 4px 6px;
   border-top: none;
   border-right: none;
   border-left: none;
   border-image: initial;
   color: rgb(26, 26, 26);
   border-bottom: 1px solid rgb(170, 170, 170);
   display: block;
}

.input:focus, .ingredientInput:focus, .stepInput:focus {
   outline: none;
   color: rgb(0, 39, 66);
   border-bottom: 1px solid rgb(0, 39, 66);
}

.description {
   font-family: Montserrat;
   color: rgb(26, 26, 26);
   font-size: 14px;
   resize: none;
   border: 1px solid rgb(157, 157, 157);
   margin-bottom: 16px;
   width: 80%;
   min-height: 80px;
   padding: 4px 6px;
}

.description:focus {
   outline: none;
   color: rgb(0, 39, 66);
}

.saveRecipe {
   display: block;
   color: rgb(77, 77, 77);
   cursor: pointer;
   text-decoration: none;
   background: none;
   border: 1px solid white;
   font-family: Montserrat;
   font-size: 14px;
   padding: 4px 12px;
   margin: 0px auto;
   margin-top: 12px;
}

.saveRecipe:hover, .saveRecipe:focus {
   outline: none;
   border: 1px solid rgb(39, 59, 122);
   color: rgb(39, 59, 122);
}

.saveRecipe:active {
   outline: none;
   border: 1px solid rgb(39, 59, 122);
   background: rgb(39, 59, 122);
   color: white
}

.ingredientsWrapper, .stepsWrapper {
   margin: 12px 0;
}

.ingredient {
   display: flex;
   align-items: center;
   margin: 12px 0;
}

.step {
   display: flex;
   align-items: center;
   margin: 12px 0;
}

.ingredientInput, .stepInput {
   margin: 0;
}

.removeBtn {
   cursor: pointer;
   margin-right: 8px;
}
