#recipeWrapper {
   margin-right: 20%;
}

.recipeTitle {
   color: rgb(0, 39, 66);
   font-size: 28px;
   margin: 16px 0px 16px 24px;
}

.recipeDescription {
   margin: 0px 0px 48px 24px;
   color: rgb(26, 26, 26);
   font-size: 16px;
   line-height: 24px;
}

.subtitle {
   color: rgb(0, 39, 66);
   font-size: 21px;
   margin: 16px 0px 16px 24px;
}

.ingredients {
   margin: 0px 0px 32px;
   color: rgb(26, 26, 26);
   font-size: 16px;
   line-height: 24px;
}

.ingredient {
   margin: 0px 0px 16px 32px;
   color: rgb(26, 26, 26);
   font-size: 16px;
   line-height: 24px;
}

.stepsWrapper {
   margin: 0px 0px 32px 24px;
   color: rgb(26, 26, 26);
   font-size: 16px;
   line-height: 24px;
}

.step {
   margin: 0px 0px 16px 32px;
   color: rgb(26, 26, 26);
   font-size: 16px;
   line-height: 24px;
}

.number {
   font-weight: 600;
   margin-right: 4px;
}

.commentsSection {
   margin-right: 15%;
   display: flex;
   flex-direction: column;
}

.commentsTitle {
   color: rgb(0, 39, 66);
   font-size: 21px;
   margin: 16px 0px 32px 24px;
}

.commentsWrapper {
   margin: 0px 0px 16px 24px;
}

.commentContainer {
   display: flex;
   padding: 16px 0px;
   border-bottom: 1px solid rgb(221, 221, 221);
}

.commentContainer:last-of-type {
   border: none;
}

.rating {
   margin: 0px 32px 0px 0px;
   color: rgb(0, 39, 66);
   font-size: 48px;
}

.redirect {
   color: rgb(77, 77, 77);
   cursor: pointer;
   border: 1px solid white;
   text-decoration: none;
   font-size: 17px;
   align-self: center;
   margin-bottom: 32px;
}

.redirect:hover {
   color: rgb(39, 59, 122);
}

.redirect:active {
   text-decoration: none;
}

.commentText {
   margin: 0px;
   font-size: 14px;
   color: rgb(26, 26, 26);
}

.addCommentWrapper {
   padding-bottom: 16px;
   border-bottom: 1px solid rgb(221, 221, 221);
}

.addSection {
   display: flex;
   flex-wrap: wrap;
   margin-left: 24px;
}

.wrapper {
   display: flex;
}

.leftColumn {
   padding-right: 60px;
   display: flex;
   flex-direction: column;
   -webkit-box-align: center;
   align-items: center;
}

.leftColumnTitle {
   margin: 0px 0px 8px;
   font-size: 16px;
   color: rgb(26, 26, 26);
}

.chooseRating {
   width: 64px;
   height: 64px;
   font-size: 32px;
   color: rgb(0, 39, 66);
   border: none;
   padding-left: 12px;
   margin-top: 16px;
}

.chooseRating:focus {
   outline: none;
}

.option {
   font-size: 24px;
   color: rgb(0, 39, 66);
}

.rightColumn {
   padding-left: 60px;
   border-left: 1px solid rgb(221, 221, 221);
}

.rightColumnTitle {
   margin: 0px 0px 8px;
   font-size: 16px;
   color: rgb(26, 26, 26);
}

.opinion {
   width: 280px;
   height: 100px;
   margin-top: 8px;
   font-family: Montserrat;
   color: rgb(26, 26, 26);
   font-size: 13px;
   line-height: 18px;
   resize: none;
   border: 1px solid rgb(157, 157, 157);
}

.opinion:focus {
   outline: none;
}

.addComment {
   color: rgb(77, 77, 77);
   cursor: pointer;
   text-decoration: none;
   background: none;
   border: none;
   font-family: Montserrat;
   font-size: 14px;
   margin: 24px 0px 8px;
   flex-basis: 100%;
}

.addComment:hover {
   color: rgb(39, 59, 122);
}

.addComment:active, .addComment:focus {
   border: none;
   outline: none;
}

.hide {
   display: none;
}

.validationMsg {
   color: rgb(206, 0, 0);
   margin: 4px 0 0;
   font-size: 13px;
}
